body {
  margin: 0;
  padding: 0;
  background-color: #fdf9c9;
}

.nav {
  width: 100%;
  contain: content;
  position: sticky;
  top: 0;
  border-bottom: 2px solid white;
  border-radius: 5px;
  background-color: darkgoldenrod;
  height: 20%;

}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: darkgoldenrod;
  padding-left: 30%;

}

.nav li {
  display: inline-block;
  padding-top: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 23px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: system-ui;
  font-style: upperrcase;

}

.name {
  color: #030303;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  text-align: center;
  display: inline;
  padding-left: 38%;
  font-size: 55px;
  letter-spacing: 48px;
  padding-top: 20px;
  font-stretch: ultra-expanded
}



.n:hover {
  border: 2px solid white;
  border-radius: 30px;
  animation-name: x;

}

.main {
  margin: auto;
  border: 8px solid darkgoldenrod;
  border-radius: 100px;
  width: 88%;
  animation-name: x;
  animation-duration: 2.3s;
  word-wrap: break-word;

}

.main2{
  margin: auto;
  border: 8px solid darkgoldenrod;
  border-radius: 100px;
  width: 88%;
  animation-name: x;
  animation-duration: 2.3s;
  word-wrap: break-word;
  padding: 2%;
  
}

@keyframes x {
  0% {
    width: 0;
  }

  100% {
    width: 88%;
  }
}


.welcome {
  color: darkgoldenrod;
  font-size: 55px;
  text-align: center;

}

.a1 {
  color: black;
  font-size: 30px;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-weight: bolder;
  padding-left: 3%;

}

.a2{
  font-size: 30px;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-weight: bolder;
}
.codingimg {
  width: 37%;
  height: 37%;
  float: right;

}

p {
  text-align: center;
}

.discordimg {
  width: 12%;
  height: 12%;
  margin-left: 20%;
}

@media (max-width: 600px){
  .welcome {
    font-size: 15px;
    padding-left: 38px;
  }

  .a1 {
    font-size: 13px;
    padding-left: 30px;
  }

  .a2 {
    font-size: 12px;
    padding: 3%;
  }

  .nav a {
    font-size: 11px;
    margin: auto;
    padding: 0 10px;
  }
  .name {
    font-size: 17px;
    text-align: center; 
    display: block;
    margin-left: 0;
    padding: 1px;

  }

  .nav ul {
    padding-left: 10%;
    margin: auto;
  }

  p {
    font-size: 7px;
  }

  .discordimg {
    padding-left: 50px;
  }
}